:global {
  .app_dark_theme {
    --bg-color: #55555e;
    --inverted-bg-color: #ffffff;

    --primary-color: #c5d2b4bb;
    --secondary-color: #b8df9c;

    --inverted-primary-color: #4b4b4bbb;
    --inverted-secondary-color: #3c3d3b;
  }
}
