.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #55555e;

  --primary-color: #4b4b4bbb;
  --secondary-color: #3c3d3b;

  --inverted-primary-color: #c5d2b4bb;
  --inverted-secondary-color: #b8df9c;
}
